:root {
    --couleurPrincipale: rgba(39,1,0,255); /*couleur principale */
}

/* essentiel */
body {
   display: flex;
   flex-direction: column;  
   /*background-color: gold;*/
}
html, body {
    height: 100vh;
}
.centrer{
    justify-content: center;
    align-items: center; 
}

.btn{
    /* background-color: transparent;*/
    background-color:gray ;

    color: #fff;
    border: none;
    border-radius: 5px;
    /* padding: 10px; */
    font-size: 16px;
    /* margin: auto; */
    /* margin-top: 20px;
    margin-bottom: 10px; */
    cursor: pointer;
}
.btn:hover{
    opacity: 1;
}



/* main content */
#main-content{
    display: flex;
    padding: auto;
    flex-direction: column;
    margin: auto;
 
}
/* ================================================================= */

/* header */
#header{    

    /*display: flex;*/
    /*flex-direction: column;*/
    display: grid;
    grid-template-rows: 40% 40%;
    height: 22vh;
    box-shadow: 0px 2px 10px rgba(163, 21, 21, 0.2);
    background-color:var(--couleurPrincipale);
    position: relative;
}

#header a{
    text-decoration: none;
    color: white;
}

/* logo et nom  */
.part1{
    display: flex;
    align-content: center;
    border: 1px solid gray;
    color: white;
}

/* bouton de connection */
.part1 div:last-of-type {
    margin-left: auto; /* aligner cet élément à droite */
    margin-right:10px ;
}

.title{
    display: flex;
    text-align: center;
    font-size: 40px;
    margin: 2%;
    width: 20vw;
    height: 5vh;
    background-color: #4CAF50;
}
.img-logo{

    position: absolute;
    top: 50%;
    height: 98%;
    width: 25vw;
    transform: translateY(-50%);

}
@media screen and (max-width: 1094px) {
    .title{
        font-size: 35px;
    }
}
@media screen and (max-width: 965px) {
    .title{
        font-size: 32px;
    }
}
@media screen and (max-width: 936px) {
    .title{
        font-size: 30px;
       
    }
}
@media screen and (max-width: 875px) {
    .title{
        font-size: 25px;
       
    }
}
@media screen and (max-width: 666px) {
    .title{
        font-size: 20px;
       
    }
}
.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 60vw;
}
@media screen and (max-width: 767px) {
    #menu{
        display: none;
    }
}
 
.item-menu{
    font-size: 20px;    
    margin: 2%;
}

.logMenu{
    width: 15vw;
    display: flex;
    flex-direction: row;
}
.logMenu-item{
    /* background-color: aliceblue; */
}

/* recherche */
.search{
    display: flex;
    flex-direction: column;
}
.form-search{
    width: 50vw;
    display: flex;
    min-height: 5vh;
    justify-content: space-between;
}
.input-search{
    width: 40vw;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.input-search,
.search-btn{
    height: 65%;
}

.search-btn{
    margin: auto;
}



/* ================================================================= */

/* footer  */
#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
    min-height: 10vh;
}

#footer{
    background-color:var(--couleurPrincipale);
}

#footer a{
    text-decoration: none;
    color: white;
}

.lien-source{
    border-top: 1px solid ;
    width: 80%;
    text-align: center;
    margin-top: 5px;
}

/* ================================================================= */


.categorieRecettes{
    display: flex;
    flex-direction: column;
    margin: 2% 0;
    width: 80vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    
}
.title-Recette-index{
    font-size: 50px;
}
.liste-Recette-index{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recette-index{
    display: flex;
    flex-direction: column;
    margin: 14px 14px;
    height: 300px;
    width: 300px;
    cursor: pointer;
}
.recette-index:hover{
    border: 1px solid var( --couleurPrincipale);
    box-shadow: 1px 1px 1px 1px  var( --couleurPrincipale);
}

.image-recette-index{
    width: 200px;
    height: 200px;
}
.nom-recette-index{
    font-size: 20px;
    display: flex;
    text-align: center;
}


.recette{
    width: 80vw;
    height: 70vh;
    display: grid;
    grid-template-rows: 20% 80%;
    
}
.nom-recette{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.description-recette{
    background-color: var( --couleurPrincipale);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.image-recette{
    /* background-color: yellow; */
    height: 40vh;
    width: 40vh;
}
.list-ingredients{
    /* background-color: violet; */
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    
}
.image-ingredient{
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ingredient{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    /* background-color: yellow; */
    height: 40vh;
}
.name-ingredient{
    font-size: 20px;
}

/* ================================================================= */
/* admin panel */
.dashbord{
    background-color: var( --couleurPrincipale);
    width: 90vw;
    height: 10vh;
    display: grid;
    place-content: center;
    font-size: 4vw;
    margin: 2% 0;
}
/* ================================================================= */
/* ajout recette */
#ajout-recette-form {
    margin: 50px auto;
    /* width: 80%; */
    /* max-width: 800px; */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
  
 /* Style du titre du formulaire */
.TitleAjoutRecette {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ajout-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#ajouter-ingredient {
    background-color: #4CAF50;
    
}

.titleIngredient {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

    /* Style du bouton Ajouter la recette */
#ajout-recette {
    margin:2% 0 ;
    background-color: #f44336;
    
}
#listeIngredient > div {
    /*background-color:yellow;*/
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ajout-recette-form{
    width: 70vw;
}
/* ================================================================= */


/* supprimer */
.supprimer-recette{
    width: 70vw;
}
.supprimer-recette{
    margin-top: 2%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.titleSuppression {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

#supprimer-recette-form {
    margin-bottom: 20px;
}

#supprimer-recette-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-supprimer{
    width: 170px;
    height: 170px;
}
.recette-aSupprimer{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.nom-recetteSupprimer {
    font-weight: bold;
    margin-right: 10px;
}

.cadre-aSupprimer{
    position: relative;
    /*background-color: yellow;*/
    width: 170px;
    height: 170px;   
}

.btn-supp{
    position: absolute;
    z-index: 5;
    top:1px;
    right: 0;
    background-color: var( --couleurPrincipale);
    height: 20px;
    display: grid;
    place-content: center;
}

.image-supprimer{
    
} 

.btn-supp:hover{
    background-color: red;
} 
.supp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

/* ================================================================= */

.file{
    cursor: pointer;
}
/* Styles pour les écrans de bureau */
@media screen and (min-width: 1024px) {
  /* Ajoutez ici vos styles */
}

/* Styles pour les tablettes */
@media screen and (max-width: 1023px) and (min-width: 768px) {
  /* Ajoutez ici vos styles */
}





.formulaire-login{
    /* background-color: aqua; */
    height: 70vh;
    width: 80vw;
    display: grid;
    grid-template-rows: 20% 80%;
    place-items: center;
}
.title-form{
    /* background-color: blue; */
    font-size: 50px;
}
.form-log{
    /* background-color: brown; */
    height: 50vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content:  space-around;

    flex-wrap: wrap;
    align-items: center;
}
.image-form-log{
    width: 40vh;
    height: 40vh;
}
.login-form{
    background-color: var( --couleurPrincipale);;
    height: 40vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-form-log{
    margin: 5% 0 ;
    width: 30vw;
    height: 3vh;
}
@media screen and (max-width: 850px) {
    .image-form-log{
        width: 30vh;
        height: 30vh;
    }
    .login-form{
        height: 30vh;
    }
}
@media screen and (max-width: 625px) {
    .form-log{
        /* background-color: brown; */
        /* height: 50vh;
        width: 80vw; */
        display: flex;
        flex-direction: row;
        justify-content:  center;
    
        /* flex-wrap: wrap;
        align-items: center; */
    }
    .image-form-log{
        width: 25vh;
        height: 25vh;
    }
    .login-form{
        width: 100%;
        height: auto;
    }
}
#erreur-log{
    color: red;
}
