:root {
    --bs-color: rgb(97, 94, 94);
    /* --bs-color: red; */


  }
body {
   /* display: grid;
   grid-template-rows: 15% 80% 5%; */
   display: flex;
   flex-direction: column;
}
html, body {
    height: 100vh;

}

#header{
    background-color: rgb(97, 94, 94);
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-rows: 40% 40%;

    height: 22vh;
}
#footer,#header{
    background-color:var(--bs-color);

}
#header a,
#footer a{
    text-decoration: none;
    color: white;
}
.part1{
    display: flex;
    align-content: center;
    border: 1px solid gray;
    color: white;
}

.part1 div:last-of-type {
    margin-left: auto; /* aligner cet élément à droite */
    margin-right:10px ;
}


.title{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
    align-items: center;
    padding: auto;
    font-size: 40px;
    margin: 2%;
    width: 20vw;
}

#menu{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 60vw;
}

.item-menu{
    font-size: 20px;
    /* background-color: aqua; */
    margin: 2%;
    /* min-width: 50px; */
}
.logMenu{
    /* background-color: coral; */
    width: 15vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.logMenu-item{
    /* background-color: aliceblue; */
}
.search{
    /* background-color:chartreuse; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-search{
    /* background-color: aqua; */
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5vh;
}
.input-search{
    width: 40vw;
    border: 0px;
}
.input-search,
.search-btn{
    height: 65%;
}
.btn{
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid ;
    color: white;
    opacity: 0.8;
    border-radius: 2px;
}
.btn:hover{
    opacity: 1;
}
.search-btn{
    margin-left: 1%;
}
#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    min-height: 10vh;
}

.lien-source{
    border-top: 1px solid ;
    width: 80%;
    text-align: center;
    margin-top: 5px;
}

/* Styles pour les smartphones */
@media screen and (max-width: 1094px) {
    .title{
        font-size: 35px;
    }
}
@media screen and (max-width: 965px) {
    .title{
        font-size: 32px;
    }
}
@media screen and (max-width: 936px) {
    .title{
        font-size: 30px;

    }
}
@media screen and (max-width: 875px) {
    .title{
        font-size: 25px;

    }
}
@media screen and (max-width: 666px) {
    .title{
        font-size: 20px;

    }
}
/* Styles pour les smartphones */
@media screen and (max-width: 767px) {
   #menu{
    display: none;
   }
  }

#main{
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   /* min-height: 70vh; */

}
.categorieRecettes{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
    width: 80vw;
}
.title-Recette-index{
    font-size: 50px;
}
.liste-Recette-index{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.recette-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 14px 14px;
    min-height: 250px;
    min-width: 250px;
    cursor: pointer;
}
.recette-index:hover{
    border: 1px solid var(--bs-color);
    box-shadow: 3px 3px 1px 1px  var(--bs-color);
}

.image-recette-index{
    width: 200px;
    height: 200px;
}
.nom-recette-index{
    font-size: 20px;
}

.formulaire-login{
    /* background-color: aqua; */
    height: 70vh;
    width: 80vw;
    display: grid;
    grid-template-rows: 20% 80%;
    place-items: center;
}
.title-form{
    /* background-color: blue; */
    font-size: 50px;
}
.form-log{
    /* background-color: brown; */
    height: 50vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content:  space-around;

    flex-wrap: wrap;
    align-items: center;
}
.image-form-log{
    width: 40vh;
    height: 40vh;
}
.login-form{
    background-color: var(--bs-color);;
    height: 40vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-form-log{
    margin: 5% 0 ;
    width: 30vw;
    height: 3vh;
}
@media screen and (max-width: 850px) {
    .image-form-log{
        width: 30vh;
        height: 30vh;
    }
    .login-form{
        height: 30vh;
    }
}
@media screen and (max-width: 625px) {
    .form-log{
        /* background-color: brown; */
        /* height: 50vh;
        width: 80vw; */
        display: flex;
        flex-direction: row;
        justify-content:  center;

        /* flex-wrap: wrap;
        align-items: center; */
    }
    .image-form-log{
        width: 25vh;
        height: 25vh;
    }
    .login-form{
        width: 100%;
        height: auto;
    }
}
#erreur-log{
    color: red;
}

.recette{
    width: 80vw;
    height: 70vh;
    display: grid;
    grid-template-rows: 20% 80%;

}
.nom-recette{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.description-recette{
    background-color: var(--bs-color);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.image-recette{
    /* background-color: yellow; */
    height: 40vh;
    width: 40vh;
}
.list-ingredients{
    /* background-color: violet; */
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */

}
.image-ingredient{
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ingredient{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    /* background-color: yellow; */
    height: 40vh;
}
.name-ingredient{
    font-size: 20px;
}

/* ================================================================= */
/* admin panel */
.dashbord{
    background-color: yellow;
    width: 50vw;
    height: 10vh;
    display: grid;
    place-content: center;
}

/* ajouter */
.ajout-recette{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

}
.titleSuppression,
.TitleAjoutRecette{
    font-size: 20px;

}
.ajout-input{
    width: 100%;
}
.TitleAjoutRecette{
    background-color: blueviolet;
    text-align: center;
}
/* supprimer */
.supprimer-recette{
    margin-top: 2%;
    background-color: var(--bs-color);
}
#supprimer-recette-form{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.image-supprimer{
    width: 170px;
    height: 170px;
}
.titleSuppression{
    background-color: aqua;
    text-align: center;
    margin: 5% 0;
}
.nom-recetteSupprimer{
    margin-top: 2%;
    text-align: center;
}
.cadre-aSupprimer{
    position: relative;
    background-color: yellow;
    width: 170px;
    height: 170px;

}
.rette-aSupprimer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-supprimer{

}
.btn-supp{
    position: absolute;
    z-index: 5;
    top:1px;
    right: 0;
    background-color: var(--bs-color);
    height: 20px;
    display: grid;
    place-content: center;
}
.btn-supp:hover{
    background-color: red;
}
/* Styles pour les écrans de bureau */
@media screen and (min-width: 1024px) {
  /* Ajoutez ici vos styles */
}

/* Styles pour les tablettes */
@media screen and (max-width: 1023px) and (min-width: 768px) {
  /* Ajoutez ici vos styles */
}



























