/* Style général de la page */
body {
    font-family: sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Style du formulaire d'ajout de recette */
 
 
  /* Style des champs de saisie */
  
  
  /* Style du bouton Ajouter un ingrédient */
 
  

  
  /* Style du titre Ingrédients */

  
  /* Style des div contenant les informations des ingrédients */
 
  
  /* Style des div contenant les noms des ingrédients */
  #listeIngredient > div > div:nth-child(1) {
    font-weight: bold;
    margin-right: 10px;
  }
  
  /* Style des div contenant les quantités des ingrédients */
  #listeIngredient > div > div:nth-child(2) {
    margin-right: 10px;
  }
  
  /* Style des div contenant les unités des ingrédients */
  /* #listeIngredient > div > div:nth-child(3) {
    margin-right: 10px;
  }
    
  
  .input-search {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 70%;
    margin-right: 10px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 20%;
  } */
  
  
  
 



  /* ################################################ */
  /* #header {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
   */
  /* .part1 {
    display: flex;
    align-items: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
  }
  
  #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  } */
  
  /* .item-menu {
    font-size: 18px;
    text-decoration: none;
    color: #333333;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .item-menu:hover {
    background-color: #333333;
    color: #FFFFFF;
  }
  
  .logMenu {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .form-search {
    display: flex;
    align-items: center; */
  /* } */
/*   
  .input-search {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
  }
  
  .search-btn {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #333333;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #FFFFFF;
    color: #333333;
  }
   */

   /* Style pour la recette */
.recette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.nom-recette {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.image-recette {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-right: 50px;
}

.list-ingredients {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 20px;
}

.ingredient {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.name-ingredient {
  margin-left: 10px;
}

.image-ingredient {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-left: 10px;
}

/* Style pour la section des recettes de la même catégorie */
.categorieRecettes {
  margin-top: 50px;
  text-align: center;
}

.title-Recette-index {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.liste-Recette-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.recette-index {
  margin: 10px;
  text-align: center;
}

.image-recette-index {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.nom-recette-index {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}







/* Style pour le formulaire de recherche */
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px #ccc;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}
